<!DOCTYPE html> 
<html lang="de"> <!-- Sprache deutsch -->

<head> <!-- Kopfbereich der HTML-Seite (nicht direkt sichtbar) -->
<!-- ===== META-INFOS & STYLES ===== -->
    <meta charset="UTF-8"> <!-- Zeichensatz der Seite -->
    <title>Startseite</title> <!-- Titel der Seite, der auf dem Tab angezeigt wird -->
    <link rel="stylesheet" href="/static/style.css"> <!-- Verknüpfung mit der CSS-Datei für das Styling -->
</head>

<body> <!-- Hauptinhalt der Seite (sichtbar) -->
<!-- ===== NAVIGATION & STARTSEITE ===== -->
    <nav class="navbar">
        <a href="/start">Startseite</a>
        <a href="/arbeitszeiterfassung">Arbeitszeiterfassung</a>
    </nav>

    <div class="startseite_container">
        <h1 class="startseite">Willkommen auf der Startseite</h1> <!-- Überschrift der Seite -->
    </div>

</body> 


</html>